<!DOCTYPE html>

<head>

        <title>Booking Management List</title>
        <meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
               <link href= "/stylesheets/style.css" rel="stylesheet" type="text/css" /> 
               <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
               <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
               <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
               <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

</head>

<style>

table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
}
	
#divGet {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  margin-bottom: 1rem;
}

#divGet td, #divGet th {
  border: 2px solid #ddd;
  text-align: left;
  padding: 9px;
}

#divGet tr:nth-child(even){background-color: #f2f2f2;}

#divGet tr:hover {background-color: #ddd;}

#divGet th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #04AA6D;
  color: white;

</style>

<body>
               <div id="divGet">
               <table>
                              <tr>
                                    <th>Booking_ID</th>
                                    <th>First_Name</th>
									<th>Last_Name</th>
									<th>Proposed_Day</th>
									<th>Proposed_Time</th>
									<th>Starting_Date</th>
                                    <th>Email</th>
                                    <th>Phone</th>
									<th>Notes</th>
									<th>Booking_At</th>
									<th>Sorted</th>
                              </tr>                   

                              <% if (bookingData.length !=0) {var i=1; bookingData.forEach( function(data) {
                              %>
                              <tr>
                                    <td><%=data.booking_id %></td>
                                    <td><%=data.first_name %></td>
                                    <td><%=data.last_name %></td>
									<td><%=data.proposed_day %></td>
                                    <td><%=data.proposed_time %></td>
									<td><%=data.starting_date %></td>
									<td><%=data.email %></td>
                                    <td><%=data.phone %></td>
									<td><%=data.notes %></td>
									<td><%=data.booking_at %></td>
									<td><input type='checkbox'></td>
 							  </tr>
                              <% i++; }) %> <%}%>                          

               </table>

               </div>

               

</body>

</html> 